<section class="footer d-flex mt-5 justify-content-center align-items-start">
  <div class="m-5 p-4 text-center footer-parts">
    <img class="footer-logo" src="../../assets/images/logo_2.png" alt="" srcset="">
    <p class="copyright mt-5 font-poppins f-w-4">copyright &#169; 2020 | NBC NEWS</p>
  </div>
  <div class="m-5 p-4 footer-parts">
    <ul class="footer-list list-unstyled">
      <li>
        <a class="nav-link ms-4 font-poppins f-w-5" href="#">Privacy Policy</a>
      </li>
      <li>
        <a class="nav-link ms-4 font-poppins f-w-5" href="#">Do not sell my personal info</a>
      </li>
      <li>
        <a class="nav-link ms-4 font-poppins f-w-5" href="#">Terms of Service</a>
      </li>
      <li>
        <a class="nav-link ms-4 font-poppins f-w-5" href="#">nbcnews.com Site Map</a>
      </li>
    </ul>
  </div>
  <div class="m-5 p-4 footer-parts">
    <div>
      <ul class="footer-links list-unstyled float-end">
        <li><a class="text-decoration-none font-poppins f-w-5" href="#">About</a></li>
        <li><a class="text-decoration-none font-poppins f-w-5" href="/contact">Contact</a></li>
        <li><a class="text-decoration-none font-poppins f-w-5" href="#">Careers</a></li>
        <li><a class="text-decoration-none font-poppins f-w-5" href="#">Coupons</a></li>
      </ul>
      <div class="clearfix"></div>
      <ul class="float-end mt-3 footer-icons">
        <a href="#"><i class="fa-solid fa-rss  fa-xl" href="#"></i></a>
        <a class="ms-5" href="#"><i class="fa-brands fa-twitter  fa-xl"></i></a>
        <a class="ms-5" href="#"><i class="fa-brands fa-reddit-alien fa-xl"></i></a>
        <a class="ms-5" href="#"><i class="fa-brands fa-facebook  fa-xl"></i></a>
      </ul>
    </div>
  </div>
</section>
